@import '../../../styles/colours.scss';

header {
  background: $c-white;
  padding: 5px 15px;
  position: relative;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);

  .app-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .user-details {
      display: flex;
      align-items: center;
    }
  }

  .app-bar {
    display: flex;
    justify-content: space-between;

    h1, h2 {
      font-size: 1.5em;
      display: inline-block;
      margin-right: 1em;
    }

    h2 {
      font-size: 1em;
    }
  }
}