  
  .input-text {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 10px 6px;
    background: transparent;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin-right: 16px;
    
    &:focus {
      outline: 0;
    }
  }